build/example_nwsl/index.html
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link type="text/css" rel="stylesheet" href="style.css"/>
  <title>This is newsletter title</title>
  <body><span class="preheader">This is invisible preheader</span>
    <table class="wrapper" cellpadding="0" cellspacing="0">
      <tbody>
        <tr class="centered">
          <td>
            <table class="content" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td class="spacer" height="40">&nbsp;</td>
                </tr>
                <tr class="text-center">
                  <td>SYMBIO</td>
                </tr>
                <tr>
                  <td class="spacer" height="40">&nbsp;</td>
                </tr>
                <tr>
                  <td class="cell-white">
                    <table class="full" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td class="spacer" height="20">&nbsp;</td>
                        </tr>
                        <tr>
                          <td><img class="centered" src="images/logo.png" width="192" height="192" alt=""/></td>
                        </tr>
                        <tr>
                          <td class="spacer" height="20">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="spacer" height="40">&nbsp;</td>
                </tr>
                <tr>
                  <td class="text-center">
                    <table class="full" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td>This is NWSL Devstack!</td>
                        </tr>
                        <tr>
                          <td>Feel free to use it!</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="spacer" height="40">&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>

build/example_nwsl/pug/index.pug
extends layout.pug

block append head
    title This is newsletter title

block append preheader
    span.preheader This is invisible preheader

block content

    +line-spacer(40)

    tr.text-center
        td SYMBIO

    +line-spacer(40)

    tr
        td(class="cell-white")
            +table(class="full")
                +line-spacer(20)

                tr
                    td
                        img(class="centered" src="images/logo.png" width="192" height="192" alt="")

                +line-spacer(20)

    +line-spacer(40)
    
    tr
        td.text-center
            +table(class="full")
                +line-content('This is NWSL Devstack!')
                +line-content('Feel free to use it!')

    +line-spacer(40)
